Project Development Phase-(REUPLOADED)/SPRINT 3/flows (4).json
[{"id":"e2c8e416ba661781","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"807999b371904138","type":"ibmiot in","z":"e2c8e416ba661781","authentication":"apiKey","apiKey":"3646ef65c6e10d86","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"14022002","applicationId":"","deviceType":"DHT22_Sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":58.60000419616699,"y":141.00000190734863,"wires":[["2df05cc4b4e8e398","5bc0071302b1275a"]],"l":false},{"id":"b4c07ce2ec793d40","type":"ui_gauge","z":"e2c8e416ba661781","name":"","group":"72773b5baec24114","order":0,"width":0,"height":0,"gtype":"gage","title":"Flame","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":221.60000228881836,"y":305.2000026702881,"wires":[],"l":false},{"id":"a99539296361d0d5","type":"ui_gauge","z":"e2c8e416ba661781","name":"","group":"398ea7b5f901632e","order":1,"width":0,"height":0,"gtype":"gage","title":"smoke","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":199.6000518798828,"y":508.20000648498535,"wires":[],"l":false},{"id":"f1648f851722c6cb","type":"ui_gauge","z":"e2c8e416ba661781","name":"","group":"d2c48cb07b38a37c","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":226.00000286102295,"y":172.00000190734863,"wires":[],"l":false},{"id":"d2ea8e6d9e3785b8","type":"ui_gauge","z":"e2c8e416ba661781","name":"","group":"72a6d7c6f7f257e2","order":0,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":222.00000286102295,"y":70.00000190734863,"wires":[],"l":false},{"id":"2df05cc4b4e8e398","type":"function","z":"e2c8e416ba661781","name":"temperature","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150.60000228881836,"y":70.20000648498535,"wires":[["d2ea8e6d9e3785b8","f382cc170d334f30"]],"l":false},{"id":"5bc0071302b1275a","type":"function","z":"e2c8e416ba661781","name":"humidity","func":"msg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":147.00000381469727,"y":171.00000381469727,"wires":[["f1648f851722c6cb","e0539955d68dfd09"]],"l":false},{"id":"54e008ebc0318180","type":"function","z":"e2c8e416ba661781","name":"flame","func":"msg.payload=msg.payload.flame\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":144.00000190734863,"y":340.00000381469727,"wires":[["b4c07ce2ec793d40","c3a209374c095c6b","162a6b6b4e9af167"]],"l":false},{"id":"b02fa7423f5bafd3","type":"function","z":"e2c8e416ba661781","name":"smoke","func":"msg.payload=msg.payload.smoke\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":125.00000143051147,"y":506.0000057220459,"wires":[["a99539296361d0d5","97415fc7de7b7c29","2d4d51ad3d0d8428"]],"l":false},{"id":"2bfceeb25e84106d","type":"ibmiot in","z":"e2c8e416ba661781","authentication":"apiKey","apiKey":"3646ef65c6e10d86","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"20020214","applicationId":"","deviceType":"FLAME_SMOKE","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":35.60000419616699,"y":386.2000045776367,"wires":[["54e008ebc0318180","b02fa7423f5bafd3"]],"l":false},{"id":"c3a209374c095c6b","type":"switch","z":"e2c8e416ba661781","name":"flame status","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"120","vt":"str"},{"t":"lt","v":"120","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":213.60000324249268,"y":357.00000381469727,"wires":[["74e964304d0f9c54"],["a3bfa25534fedb43"]],"l":false},{"id":"74e964304d0f9c54","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"HURRY!! THERE IS FIRE","name":"","x":278.600004196167,"y":328.40000438690186,"wires":[[]],"l":false},{"id":"a3bfa25534fedb43","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"CALME!! THERE IS NO FIRE","name":"","x":279.00000381469727,"y":380.0000057220459,"wires":[[]],"l":false},{"id":"97415fc7de7b7c29","type":"switch","z":"e2c8e416ba661781","name":"flame status","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"75","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":194.00000190734863,"y":565.0000066757202,"wires":[["e007845c04685110"]],"l":false},{"id":"e007845c04685110","type":"ui_toast","z":"e2c8e416ba661781","position":"top left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"TURN ON FAN","name":"","x":257.00000381469727,"y":563.0000076293945,"wires":[],"l":false},{"id":"7f22a874124eca3e","type":"ui_button","z":"e2c8e416ba661781","name":"FAN ON","group":"398ea7b5f901632e","order":1,"width":0,"height":0,"passthru":false,"label":"FAN ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":450.6000556945801,"y":438.4000062942505,"wires":[["e13a4c2d263c32da"]],"l":false},{"id":"d2ca6139ca3e6d34","type":"ui_button","z":"e2c8e416ba661781","name":"FAN OFF","group":"398ea7b5f901632e","order":1,"width":0,"height":0,"passthru":false,"label":"FAN OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":452.0000066757202,"y":381.0000057220459,"wires":[["4e52542b474bbd09"]],"l":false},{"id":"9105bf9188618c77","type":"ui_button","z":"e2c8e416ba661781","name":"SPRINKLER ON","group":"72773b5baec24114","order":1,"width":0,"height":0,"passthru":false,"label":"SPRINKLER ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":443.0000066757202,"y":246.00000381469727,"wires":[["44d0c9f90fef4626"]],"l":false},{"id":"c3153c2df255d46c","type":"ui_button","z":"e2c8e416ba661781","name":"SPRINKLER  OFF","group":"72773b5baec24114","order":1,"width":0,"height":0,"passthru":false,"label":"SPRINKLER  OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":446.0000057220459,"y":296.0000047683716,"wires":[["241ef96d22b643bd"]],"l":false},{"id":"06223409cd524ab2","type":"ui_button","z":"e2c8e416ba661781","name":"ALARM ON","group":"d2c48cb07b38a37c","order":1,"width":0,"height":0,"passthru":false,"label":"ALARM ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":445.0000057220459,"y":125.00001430511475,"wires":[["95f3ae9a2a5b52e6"]],"l":false},{"id":"986874dea07d0bbb","type":"ui_button","z":"e2c8e416ba661781","name":"ALARM OFF","group":"72a6d7c6f7f257e2","order":1,"width":0,"height":0,"passthru":false,"label":"ALARM OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":440.0000066757202,"y":72.00000095367432,"wires":[["c36238a8eaff5eb4"]],"l":false},{"id":"c36238a8eaff5eb4","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"ALARM OFF","name":"","x":504,"y":71,"wires":[[]],"l":false},{"id":"95f3ae9a2a5b52e6","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"ALARM ON","name":"","x":506,"y":124,"wires":[[]],"l":false},{"id":"44d0c9f90fef4626","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"SPRINKLER ON","name":"","x":505,"y":245,"wires":[[]],"l":false},{"id":"241ef96d22b643bd","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"SPRINKLER OFF","name":"","x":508,"y":296,"wires":[[]],"l":false},{"id":"4e52542b474bbd09","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"FAN OFF","name":"","x":510,"y":381,"wires":[[]],"l":false},{"id":"e13a4c2d263c32da","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"FAN ON","name":"","x":515,"y":437,"wires":[[]],"l":false},{"id":"062eea85ef379335","type":"ui_form","z":"e2c8e416ba661781","name":"Dashboard Sign-In","label":"","group":"b82da486.9fc8d8","order":0,"width":"6","height":"2","options":[{"label":"Username","value":"username","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":95,"y":1067,"wires":[["2f9562b5c92b3c84"]]},{"id":"2f9562b5c92b3c84","type":"function","z":"e2c8e416ba661781","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"mike\", password : \"mike\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":315,"y":1067,"wires":[["cf65e3367fc84720"]]},{"id":"cf65e3367fc84720","type":"switch","z":"e2c8e416ba661781","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":495,"y":1067,"wires":[["161d03f51d07836b"],["e4f018481a475432"],["42c86216c4207282"],["89a298f5e068783c"]]},{"id":"161d03f51d07836b","type":"function","z":"e2c8e416ba661781","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = \"1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":685,"y":1007,"wires":[["dacc068eaac596f0"]]},{"id":"e4f018481a475432","type":"function","z":"e2c8e416ba661781","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":695,"y":1047,"wires":[["dddeaa8a1ec00b50"]]},{"id":"42c86216c4207282","type":"function","z":"e2c8e416ba661781","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":705,"y":1087,"wires":[["dddeaa8a1ec00b50"]]},{"id":"dacc068eaac596f0","type":"ui_ui_control","z":"e2c8e416ba661781","name":"Go to Sensor/History Group","x":925,"y":1007,"wires":[[]]},{"id":"dddeaa8a1ec00b50","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":945,"y":1067,"wires":[[]]},{"id":"3ffa834d522e04a0","type":"inject","z":"e2c8e416ba661781","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":95,"y":1307,"wires":[["dfb5e8c0a10f5bed"]]},{"id":"d726b7c9046a52fc","type":"function","z":"e2c8e416ba661781","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":685,"y":1267,"wires":[["b98a73da4f4ea067","9d3f6f3f6d9ae2a5"]]},{"id":"b98a73da4f4ea067","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Session Timeout","name":"Time-Out Dialog","x":925,"y":1267,"wires":[[]]},{"id":"d6031f141e4600b0","type":"ui_ui_control","z":"e2c8e416ba661781","name":"Go to Signin Group","x":935,"y":1347,"wires":[[]]},{"id":"9d3f6f3f6d9ae2a5","type":"function","z":"e2c8e416ba661781","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload =\"0\";\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":715,"y":1347,"wires":[["d6031f141e4600b0"]]},{"id":"b8da88c896ae737e","type":"ui_toast","z":"e2c8e416ba661781","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":925,"y":1127,"wires":[[]]},{"id":"89a298f5e068783c","type":"function","z":"e2c8e416ba661781","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":695,"y":1127,"wires":[["b8da88c896ae737e"]]},{"id":"dfb5e8c0a10f5bed","type":"function","z":"e2c8e416ba661781","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 15*60*1000; //15 mins\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":285,"y":1307,"wires":[["e5fdd05d438ae9d0"]]},{"id":"e5fdd05d438ae9d0","type":"switch","z":"e2c8e416ba661781","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":495,"y":1307,"wires":[["d726b7c9046a52fc"],[],["9d3f6f3f6d9ae2a5"]]},{"id":"f382cc170d334f30","type":"cloudant out","z":"e2c8e416ba661781","name":"","cloudant":"","database":"temperature_db","service":"industry-specific-in-cloudant-1667916077633-38869","payonly":false,"operation":"insert","x":225.600004196167,"y":32.000003814697266,"wires":[],"l":false},{"id":"e0539955d68dfd09","type":"cloudant out","z":"e2c8e416ba661781","name":"","cloudant":"","database":"humidity_db","service":"industry-specific-in-cloudant-1667916077633-38869","payonly":false,"operation":"insert","x":224.00000381469727,"y":137.00000190734863,"wires":[],"l":false},{"id":"162a6b6b4e9af167","type":"cloudant out","z":"e2c8e416ba661781","name":"","cloudant":"","database":"flame_db","service":"industry-specific-in-cloudant-1667916077633-38869","payonly":false,"operation":"insert","x":155.00000381469727,"y":279.00000381469727,"wires":[],"l":false},{"id":"2d4d51ad3d0d8428","type":"cloudant out","z":"e2c8e416ba661781","name":"","cloudant":"","database":"smoke_db","service":"industry-specific-in-cloudant-1667916077633-38869","payonly":false,"operation":"insert","x":200,"y":465,"wires":[],"l":false},{"id":"3646ef65c6e10d86","type":"ibmiot","name":"MY IBM","keepalive":"60","serverName":"0lchi7.messaging.internetofthings.ibmcloud.com/","cleansession":true,"appId":"","shared":false},{"id":"72773b5baec24114","type":"ui_group","name":"Flame","tab":"824ceb134a4c3d06","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"398ea7b5f901632e","type":"ui_group","name":"smoke","tab":"824ceb134a4c3d06","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d2c48cb07b38a37c","type":"ui_group","name":"Temperature","tab":"824ceb134a4c3d06","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"72a6d7c6f7f257e2","type":"ui_group","name":"Humidity","tab":"824ceb134a4c3d06","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b82da486.9fc8d8","type":"ui_group","name":"Login","tab":"d65502b1.ee517","order":1,"disp":true,"width":"6","collapse":false,"className":"login"},{"id":"824ceb134a4c3d06","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d65502b1.ee517","type":"ui_tab","name":"Login","icon":"dashboard","order":1,"disabled":false,"hidden":true}]