Project Development Phase/Sprint-3/flows (4).json
[{"id":"b92dbd4dd0d0447e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"cf389a151d302c54","type":"ibmiot in","z":"b92dbd4dd0d0447e","authentication":"apiKey","apiKey":"8dfe7ffb999380fd","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"HC-SR04_Sensor","applicationId":"","deviceType":"ESP32_Controller","eventType":"+","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":180,"wires":[["8113466702db34a0","91ae0f4a33e0ba72"]]},{"id":"8113466702db34a0","type":"function","z":"b92dbd4dd0d0447e","name":"temperature","func":"msg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":140,"wires":[["7ce164c5da6cd6ab","8687eeee354badb8","37446351ac8f98bc"]]},{"id":"91ae0f4a33e0ba72","type":"function","z":"b92dbd4dd0d0447e","name":"humidity","func":"msg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":220,"wires":[["9ae5c0d2ac610122","1c99b477aef45442","d5c5e07ca0d9a76a"]]},{"id":"7ce164c5da6cd6ab","type":"ui_gauge","z":"b92dbd4dd0d0447e","name":"","group":"1f3840b6c0435a75","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":140,"wires":[]},{"id":"9ae5c0d2ac610122","type":"ui_gauge","z":"b92dbd4dd0d0447e","name":"","group":"1f3840b6c0435a75","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":540,"y":220,"wires":[]},{"id":"8687eeee354badb8","type":"cloudant out","z":"b92dbd4dd0d0447e","name":"","cloudant":"","database":"temperature_db","service":"industry-specific-in-cloudant-1667916077633-38869","payonly":false,"operation":"insert","x":560,"y":80,"wires":[]},{"id":"1c99b477aef45442","type":"cloudant out","z":"b92dbd4dd0d0447e","name":"","cloudant":"","database":"humidity_db","service":"industry-specific-in-cloudant-1667916077633-38869","payonly":false,"operation":"insert","x":550,"y":260,"wires":[]},{"id":"37446351ac8f98bc","type":"switch","z":"b92dbd4dd0d0447e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"380","vt":"str"},{"t":"lt","v":"380","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":180,"wires":[["d8daa2689498a0dc"],["0354490e95bf01a2"]]},{"id":"d5c5e07ca0d9a76a","type":"switch","z":"b92dbd4dd0d0447e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"str"},{"t":"lt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":300,"wires":[["0354490e95bf01a2"],["d8daa2689498a0dc"]]},{"id":"d8daa2689498a0dc","type":"ui_toast","z":"b92dbd4dd0d0447e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"HURRY THERE IS FIRE","name":"","x":810,"y":220,"wires":[[]]},{"id":"0354490e95bf01a2","type":"ui_toast","z":"b92dbd4dd0d0447e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"CALM!! THERE IS NO FIRE","name":"","x":810,"y":280,"wires":[[]]},{"id":"31fc28bfb3b7d38a","type":"ui_form","z":"b92dbd4dd0d0447e","name":"Dashboard Sign-In","label":"","group":"b82da486.9fc8d8","order":0,"width":"6","height":"2","options":[{"label":"Username","value":"username","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":90,"y":440,"wires":[["14be5acd9e0ef281"]]},{"id":"14be5acd9e0ef281","type":"function","z":"b92dbd4dd0d0447e","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"jones\", password : \"jones\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":440,"wires":[["22e16a3cfc519dee"]]},{"id":"22e16a3cfc519dee","type":"switch","z":"b92dbd4dd0d0447e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":440,"wires":[["6c09e62c50897972"],["a0fa57f65a635a7e"],["473d688dc562e3ef"],["6f9b66741c8798de"]]},{"id":"6c09e62c50897972","type":"function","z":"b92dbd4dd0d0447e","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = \"1\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":380,"wires":[["05a78530ee7efdbd"]]},{"id":"a0fa57f65a635a7e","type":"function","z":"b92dbd4dd0d0447e","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["d288f81996bd7697"]]},{"id":"473d688dc562e3ef","type":"function","z":"b92dbd4dd0d0447e","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":460,"wires":[["d288f81996bd7697"]]},{"id":"05a78530ee7efdbd","type":"ui_ui_control","z":"b92dbd4dd0d0447e","name":"Go to Sensor/History Group","x":920,"y":380,"wires":[[]]},{"id":"d288f81996bd7697","type":"ui_toast","z":"b92dbd4dd0d0447e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":940,"y":440,"wires":[[]]},{"id":"988c5ba69f62d33c","type":"inject","z":"b92dbd4dd0d0447e","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":680,"wires":[["ad8bef2719154f99"]]},{"id":"7f82dc07816ecedb","type":"function","z":"b92dbd4dd0d0447e","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":640,"wires":[["a228bf956c3aa9a9","26cbf1d9cae088fc"]]},{"id":"a228bf956c3aa9a9","type":"ui_toast","z":"b92dbd4dd0d0447e","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Session Timeout","name":"Time-Out Dialog","x":920,"y":640,"wires":[[]]},{"id":"df2adead27ccb5fc","type":"ui_ui_control","z":"b92dbd4dd0d0447e","name":"Go to Signin Group","x":930,"y":720,"wires":[[]]},{"id":"26cbf1d9cae088fc","type":"function","z":"b92dbd4dd0d0447e","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload =\"0\";\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":720,"wires":[["df2adead27ccb5fc"]]},{"id":"d115133aded670bc","type":"ui_toast","z":"b92dbd4dd0d0447e","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":920,"y":500,"wires":[[]]},{"id":"6f9b66741c8798de","type":"function","z":"b92dbd4dd0d0447e","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["d115133aded670bc"]]},{"id":"ad8bef2719154f99","type":"function","z":"b92dbd4dd0d0447e","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 4*60*1000; //15 mins\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":680,"wires":[["0d910c889aa3176b"]]},{"id":"0d910c889aa3176b","type":"switch","z":"b92dbd4dd0d0447e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":680,"wires":[["7f82dc07816ecedb"],[],["26cbf1d9cae088fc"]]},{"id":"bc699bb2dfed2689","type":"ui_button","z":"b92dbd4dd0d0447e","name":"ALARM ON","group":"1f3840b6c0435a75","order":2,"width":0,"height":0,"passthru":false,"label":"ALARM ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"payload","topicType":"msg","x":210,"y":840,"wires":[["eb197273ec4d0928","3eeea7c679e265a1"]]},{"id":"15adca31f5b6c2fc","type":"ui_button","z":"b92dbd4dd0d0447e","name":"ALARM OFF","group":"1f3840b6c0435a75","order":2,"width":0,"height":0,"passthru":false,"label":"ALARM OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"payload","topicType":"msg","x":210,"y":920,"wires":[["eb197273ec4d0928","c4312995a9fd66c6"]]},{"id":"6024654fc7e32b99","type":"ui_button","z":"b92dbd4dd0d0447e","name":"SPRINKLER ON","group":"1f3840b6c0435a75","order":2,"width":0,"height":0,"passthru":false,"label":"SPRINKLER ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1000,"wires":[["b1a765840da07d17","3745c2380959c462"]]},{"id":"d519d01a8b0fb01f","type":"ui_button","z":"b92dbd4dd0d0447e","name":"SPRINKLER OFF","group":"1f3840b6c0435a75","order":2,"width":0,"height":0,"passthru":false,"label":"SPRINKLER OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1080,"wires":[["b1a765840da07d17","f23aa0d55e6f9c48"]]},{"id":"eb197273ec4d0928","type":"function","z":"b92dbd4dd0d0447e","name":"Alarm state","func":"if(msg.payload===\"1\")\n    msg.payload={\"command\":\"Aon\"};\nelse{\n     msg.payload={\"command\":\"Aoff\"};\n}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":920,"wires":[["782037c832fc8a83"]]},{"id":"b1a765840da07d17","type":"function","z":"b92dbd4dd0d0447e","name":"Sprinkler State","func":"if(msg.payload===\"1\")\n    msg.payload={\"command\":\"Son\"};\n\nelse\n    msg.payload={\"command\":\"Soff\"};\n \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1080,"wires":[["231456a6c57626fc"]]},{"id":"782037c832fc8a83","type":"function","z":"b92dbd4dd0d0447e","name":"Astate","func":"var state=msg.payload;\nmsg.payload = state.command;\nif(msg.payload===\"Aon\"){msg.payload = \"On\"}\nelse{msg.payload = \"Off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":920,"wires":[["3e6c140f053b6ef5"]]},{"id":"231456a6c57626fc","type":"function","z":"b92dbd4dd0d0447e","name":"Sstate","func":"var state=msg.payload;\nmsg.payload = state.command;\nif(msg.payload===\"Son\"){msg.payload = \"On\"}\nelse{msg.payload = \"Off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1080,"wires":[["71423faec342ae1c"]]},{"id":"3e6c140f053b6ef5","type":"cloudant out","z":"b92dbd4dd0d0447e","name":"","cloudant":"","database":"industryspecificintelligentfiremanagementsystem","service":"industry-specific-in-cloudant-1667916077633-38869","payonly":false,"operation":"insert","x":920,"y":920,"wires":[]},{"id":"71423faec342ae1c","type":"cloudant out","z":"b92dbd4dd0d0447e","name":"","cloudant":"","database":"firemanagement","service":"industry-specific-in-cloudant-1667916077633-38869","payonly":false,"operation":"insert","x":840,"y":1080,"wires":[]},{"id":"3eeea7c679e265a1","type":"ui_toast","z":"b92dbd4dd0d0447e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"ALARM IS ON!!","name":"","x":450,"y":820,"wires":[[]]},{"id":"f23aa0d55e6f9c48","type":"ui_toast","z":"b92dbd4dd0d0447e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"SPRINKLER IS OFF!","name":"","x":490,"y":1180,"wires":[[]]},{"id":"3745c2380959c462","type":"ui_toast","z":"b92dbd4dd0d0447e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"SPRINKLER IS ON!!","name":"","x":490,"y":1140,"wires":[[]]},{"id":"c4312995a9fd66c6","type":"ui_toast","z":"b92dbd4dd0d0447e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"ALARM IS OFF!","name":"","x":450,"y":960,"wires":[[]]},{"id":"8dfe7ffb999380fd","type":"ibmiot","name":"Fire_Management","keepalive":"60","serverName":"0lchi7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1f3840b6c0435a75","type":"ui_group","name":"Fire Management","tab":"d9330319eecb253a","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b82da486.9fc8d8","type":"ui_group","name":"Login","tab":"d65502b1.ee517","order":1,"disp":true,"width":"6","collapse":false,"className":"login"},{"id":"d9330319eecb253a","type":"ui_tab","name":"Home","icon":"fa fire","disabled":false,"hidden":false},{"id":"d65502b1.ee517","type":"ui_tab","name":"Login","icon":"dashboard","order":1,"disabled":false,"hidden":true}]